<!-- @format -->

{% extends "base.html" %} {% block content %}
<section class="p-3">
  <h1>All Tasks</h1>
  <div class="w-100 row justify-content-center ">
    {% for task in data %}
    <div class="card text-bg-info m-3 col-3">
      <div class="card-header">{{task.assign_date}}</div>
      <div class="card-body">
        <h5 class="card-title">{{task.title}}</h5>
        <p class="card-text">{{task.description}}</p>
        <div>
          {% for category in task.category.all %}
          <button class="btn btn-secondary btn-sm">{{category}}</button>
          {% endfor %}
        </div>
      </div>
      <div class="card-footer">
        {% if task.is_completed %}
        <h4 class="text-success">Completed</h4>
        {% else %}
        <a href="{% url "edit_task" task.id %}" class="btn btn-warning btn-sm">Edit</a>
        <a href="{% url "delete_task" task.id %}" class="btn btn-danger btn-sm">Delete</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
